.canvas {
    border: 10px solid rgb(95, 92, 92);
    background-color: rgb(138, 89, 167);
    color: rgb(33, 161, 161);
}

body {
    background-color: rgba(80, 73, 73, 0.945);
}

.container {
    margin: 10px;
}

.middle-div {
    width: 1000px
}

