.canvas1 {
    border: 10px solid rgb(37, 37, 37);
    background-image: url(../images/canvas-background-5.jpg);
    background-position-y: -15rem;
    background-position-y: -10rem;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(150, 18, 18);
    margin: 1rem 15rem;
}
.canvas2 {
    border: 10px solid rgb(37, 37, 37);
    background-image: url(../images/canvas-background-4.jpg);
    background-position-y: -15rem;
    background-position-y: -10rem;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(150, 18, 18);
    margin: 1rem 15rem;
}
.canvas3 {
    border: 10px solid rgb(37, 37, 37);
    background-image: url(../images/canvas-background-6.jpg);
    background-position-y: -15rem;
    background-position-y: -10rem;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(150, 18, 18);
    margin: 1rem 15rem;
}

@font-face {
    font-family: 'moonhouse';
    src: url(../Fonts/moonhouse.ttf);
}

.game-container {
    height: 800px;
    background-image: url(../images/body-background-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.title1 {
    width: 900px;
    height: 15rem;
    padding: 6rem 0 0 0;
    font-size: 100px;
    font-family: 'moonhouse';
    color: rgb(62, 100, 134);
    margin: 0 22rem 0 22rem;
}
.title2 {
    width: 900px;
    height: 15rem;
    padding: 6rem 0 0 0;
    font-size: 100px;
    font-family: 'moonhouse';
    color: rgb(62, 100, 134);
    margin: 0 26rem 0 26rem;
}
.title3 {
    width: 900px;
    height: 15rem;
    padding: 6rem 0 0 0;
    font-size: 100px;
    font-family: 'moonhouse';
    color: rgb(62, 100, 134);
    margin: 0 40rem 0 30rem;
}

.title-1 {
    width: 614px;
    height: 10rem;
    padding: 1rem 0 1rem 0;
    font-size: 100px;
    font-family: 'moonhouse';
    color: rgb(62, 100, 134);
    margin: 0 26rem 0 28rem;
}

.card-1 {
    width: 34rem;
    margin: 0 10rem 2rem 10rem;
    border: 10px solid rgb(43, 40, 40);
    /* background-image:linear-gradient(black -23%, grey 90%); */
}

h3 {
    font-size: 2rem;
    color: rgb(35, 117, 189);
    font-family: 'moonhouse';
}

h4 {
    font-size: 1.5rem;
    color: rgb(35, 117, 189);
    font-family: 'moonhouse';
}

p  {
    font-size: 1rem;
    color: rgb(182, 176, 176);
}

img {
    height: 18rem;
}